<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSS Reader</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/rss-parser/dist/rss-parser.min.js"></script>
  <link rel="icon" type="image/png" href="https://emoji.dutl.uk/png/64x64/📓.png">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></style>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5BQYC3C8BL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5BQYC3C8BL');
  </script>
</head>
<body>
  <div id="app">
    <div id="before-buttons">
      <div class="header">
        <h1 style="display:inline-block;width:100%;max-width:40%;" align="left;">Simple RSS Reader</h1>
        <div style="display:inline-block;width:100%;max-width:59%;" align="right">
          <button @click="fetchFeeds">Fetch Feeds</button>
          <button id="bookmarkMeButton">Bookmark Me</button>
          <button @click="toggleAdvancedSettings">Advanced Settings</button>
        </div>
        <div id="advanced-settings">
          <b>Advanced Settings</b>
          <br>
          <table>
            <tr>
              <td>
                <label for="cache-ttl">Cache TTL (minutes):</label>
              </td>
              <td>
                <input type="number" id="cache-ttl" v-model.number="cacheTTL" @input="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td>
                <label for="blocklist">Blocklist (comma-separated):</label>
              </td>
              <td>
                <input type="text" id="blocklist" v-model="blocklist" @input="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td>
                <label for="responseTruncationLimitKB">Feed response truncation limit (in KB):</label>
              </td>
              <td>
                <input type="text" id="responseTruncationLimitKB" v-model="responseTruncationLimitKB" @input="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button @click="invalidateCache">Invalidate Cache</button>
              </td>
            </tr>
            <tr>
              <td>
                <button id="toggleDarkMode">Toggle Dark Mode</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <small>a <a href="https://www.dutl.uk/">dutl.uk</a> app. see my source code <a href="https://github.com/cemreefe/client-side-rss-reader">here</a></small><br><br>
      <div id="form">
        <details id="feedDetails">
          <summary style="cursor:pointer;">
            Feeds
          </summary>
          <br>
          <textarea id="rssInput" v-model="rssInput"  @input="updateUrlParams" placeholder="Enter RSS feeds separated by a comma"></textarea>  
        </details>
      </div>

      <div v-if="loading" style="margin-top:1em;">Loading...</div>
      <div v-if="error" style="margin-top:1em;">{{ error }}</div>
      <br>

      <div v-for="(item, index) in paginatedFeeds" :key="index" class="feed-item">
        <div class="meta">{{ formatDate(item.pubDate) }} | {{ item.feedTitle }}</div>
        <a href="#" @click.prevent="showDescription(item)" class="post-title">{{ !!item.title ? item.title : "Post" }}</a>
        <div v-if="item.showDescription" class="description">
          <div v-html="item.content"></div>
          <div v-for="media in item.mediaContent">
            <img v-if="media.$.medium == 'image'" :src="media.$.url" alt="Media Content" />
            <video v-if="media.$.medium == 'video'" controls>
              <source :src="media.$.url" :type="media.$.type">
            </video>
          </div>
          <a :href="item.link" target="_blank">Read on {{ item.feedTitle }}</a>
          <button @click="closeDescription(item)">Close</button>
        </div>
      </div>
    </div>
    <div v-if="totalPages > 1" class="pagination">
      <button @click="currentPage--" :disabled="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button @click="currentPage++" :disabled="currentPage === totalPages">Next</button>
    </div>
  </div>
  <script src="/static/misc.js"></script>
  <script src="/static/feeder.js"></script>
</body>
</html>
