<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSS Reader</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/rss-parser/dist/rss-parser.min.js"></script>
  <link rel="icon" type="image/png" href="https://emoji.dutl.uk/png/64x64/📓.png">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></style>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5BQYC3C8BL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5BQYC3C8BL');
  </script>
</head>
<body>
  <div id="app">
    <div id="before-buttons">
      <div class="header">
        <h1 style="display:inline-block;width:100%;max-width:49%;" align="left;">Simple RSS Reader</h1>
        <div style="display:inline-block;width:100%;max-width:49%;" align="right">
          <button @click="fetchFeeds" id="fetchFeedsButton" title="sync"><img class='buttonLogo' src="/static/img/sync.png"></button>
          <button @click="bookmarkMe" title="bookmark"><img class='buttonLogo' src="/static/img/bookmark.png"></button>
          <button @click="toggleAdvancedSettings" title="toggleAdvancedSettings"><img class='buttonLogo' src="/static/img/settings.png"></button>
          <button id="toggleDarkMode" title="toggle dark mode"><img class='buttonLogo' src="/static/img/moon.png"></button>
          <!-- <button @click="expandAllToggle" title="Expand All">E</button> -->
        </div>
        <div id="advanced-settings">
          <b>Advanced Settings</b>
          <br>
          <table>
            <tr>
              <td>
                <label for="cache-ttl">Cache TTL (minutes):</label>
              </td>
              <td>
                <input type="number" id="cache-ttl" v-model.number="cacheTTL" @input="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td>
                <label for="blocklist">Blocklist (comma-separated):</label>
              </td>
              <td>
                <input type="text" id="blocklist" v-model="blocklist" @input="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td>
                <label for="responseTruncationLimitKB">Feed response truncation limit (in KB):</label>
              </td>
              <td>
                <input type="text" id="responseTruncationLimitKB" v-model="responseTruncationLimitKB" @input="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td>
                <label for="kindleMode">Kindle mode (content navigation buttons)</label>
              </td>
              <td>
                <input type="checkbox" id="kindleMode" v-model="kindleMode" @change="updateUrlParams">
              </td>
            </tr>
            <tr>
              <td>
                <label for="markAsReadEnabled">Enable 'mark as read'</label>
              </td>
              <td>
                <input type="checkbox" id="markAsReadEnabled" v-model="markAsReadEnabled" @change="updateUrlParams">
              </td>
            </tr>
            <tr v-if="markAsReadEnabled">
              <td>
                <label for="hideReadPosts">&nbsp; Hide posts marked as read</label>
              </td>
              <td>
                <input type="checkbox" id="hideReadPosts" v-model="hideReadPosts" @change="updateUrlParams">
              </td>
            </tr>
            <tr v-if="markAsReadEnabled">
              <td>
                <label>&nbsp; Read posts list</label>
              </td>
              <td>
                <button @click="downloadReadPosts()">Export</button> <button @click="uploadReadPosts(false)">Import</button> <button @click="clearReadPosts()">Clear</button>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button @click="invalidateCache">Invalidate Cache</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <small>a <a href="https://www.dutl.uk/">dutl.uk</a> app. see my source code <a href="https://github.com/cemreefe/client-side-rss-reader">here</a></small><br><br>
      <div id="form">
        <details id="feedDetails">
          <summary style="cursor:pointer;">
            Feeds
          </summary>
          <br>
          <textarea id="rssInput" v-model="rssInput" placeholder="Enter RSS feeds separated by a comma"></textarea>  
          <button @click="fetchFeeds">Fetch</button>
          <button @click="generateOpml">Export OPML</button>
          <input type="button" id="loadFileXml" value="Import OPML"onclick="document.getElementById('fileSelector').click();">
          <input id="fileSelector" type="file" @change="handleFileUpload" accept=".opml,.xml" hidden>
        </details>
      </div>

      <div 
        v-if="loading" 
        style="margin-top:1em;"
        :title="'Feeds still loading:\n\n' + Array.from(loadingUrls).join('\n')"
       >
       Loading...
      </div>
      <div v-if="error" style="margin-top:1em;">{{ error }}</div>
      <br>

      <style v-if="kindleMode">
        div.description {
          overflow: hidden;
          max-height: 75vh;
        }
      </style>

      <div 
        v-for="(item, index) in paginatedFeeds" 
        v-if="!markAsReadEnabled || !hideReadPosts || !isReadPost(item.link)" 
        :class="`feed-item ${markAsReadEnabled && isReadPost(item.link) ? 'is-read-true' : ''}`" 
        :key="index" 
        :id="'item' + index"
      >
        <div class="meta">{{ formatDate(item.pubDate) }} | {{ item.feedTitle }}</div>
        <div class="postTitleBox">
          <a href="#" 
            @click.prevent="showDescription(item); kindleMode ? document.getElementById('item' + index).scrollIntoView(true) : 0" 
            class="post-title">{{ !!item.title ? item.title : "Post" }}</a>
          <button v-if="markAsReadEnabled && !isReadPost(item.link)" @click="markAsRead(item.link)">
            <img class='buttonLogo' src="/static/img/mark-read.png">
          </button>
          <button v-if="markAsReadEnabled && isReadPost(item.link)" @click="markAsUnread(item.link)">
            <img class='buttonLogo' src="/static/img/mark-unread.png">
          </button>
        </div>
        
        <div v-if="item.showDescription" class="description" :id="'description' + index">
          <div v-if="!item.contentEncoded" v-html="item.content"></div>
          <div v-html="item.contentEncoded"></div>
          <div v-for="media in item.mediaContent">
            <p>
            {{ item.mediaGroup }}
            <img v-if="!!media.$ && media.$.medium == 'image'" :src="media.$.url" alt="Media Content" />
            <video v-if="!!media.$ && media.$.medium == 'video'" controls>
              <source :src="media.$.url" :type="media.$.type">
            </video>
            </p>
          </div>
          <a :href="item.link" target="_blank"><button>Read on {{ item.feedTitle }}</button></a>
          <button @click="closeDescription(item)">Close</button>
        </div>
        <div v-if="kindleMode && item.showDescription">
          <div class="postInternalPagination pagination">
            <button style='width:3em;' onclick="scrollInternalPrev(this)" :targetId="'description' + index">&lt;</button>
            <button style='width:3em;' onclick="scrollInternalNext(this)" :targetId="'description' + index">&gt;</button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="totalPages > 1" class="pagination">
      <button @click="currentPage--" :disabled="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button @click="currentPage++" :disabled="currentPage === totalPages">Next</button>
    </div>
  </div>
  <div v-if="kindleMode" style="height:100vh;"></div>
  <script src="/static/misc.js"></script>
  <script src="/static/feeder.js"></script>
</body>
</html>
